In [4]:
import pandas as pd
from geotab import ExtractorGeotab


lista_camiones = ExtractorGeotab().obtener_dispositivos()

In [18]:
df = pd.DataFrame(lista_camiones)
df.head()

     id                          name
0  b347           CL/1256/CONE/8776/L
1  b38F           CL/1327/2264/8777/I
2  b135  CL/1205/BAJA/VENDIDO CON GPS
3   b5C           CL/4093/4911/8777/D
4  b3C7           CL/0050/TRAN/2651/T

In [31]:
df[["PAIS", "NUMERO", "ESTADO", "CODIGO", "LETRA"]] = df["name"].str.split("/", expand=True)

In [32]:
df

,id,name,PAIS,NUMERO,ESTADO,CODIGO,LETRA
0,b347,CL/1256/CONE/8776/L,CL,1256,CONE,8776,L
1,b38F,CL/1327/2264/8777/I,CL,1327,2264,8777,I
2,b135,CL/1205/BAJA/VENDIDO CON GPS,CL,1205,BAJA,VENDIDO CON GPS,None
3,b5C,CL/4093/4911/8777/D,CL,4093,4911,8777,D
4,b3C7,CL/0050/TRAN/2651/T,CL,0050,TRAN,2651,T
...,...,...,...,...,...,...,...
60,b339,CL/1193/SUPL/8775/D,CL,1193,SUPL,8775,D
61,b4A4,CL/2083/SUPE/8776/A,CL,2083,SUPE,8776,A
62,b4A7,CL/2679/0358/8775/D,CL,2679,0358,8775,D
63,b3C9,CL/1261/AASS/8776/A,CL,1261,AASS,8776,A
64,b33C,CL/1309/3063/8776,CL,1309,3063,8776,None